<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Menu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender">
      <file value="\\hoh2307\sii$\Update\UpdateNet\Logs\PEP\NHibernate.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="NHibernate.SQL" additivity="true">
      <level value="ERROR" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
  </log4net>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Email TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           toAddress="EquipeDesenvolvimento_TI@hmv.org.br" fromAddress="no-reply@hmv.org.br" subjectLineStarter="" subjectLineEnder="" smtpServer="10.0.0.116" smtpPort="25" formatter="EventLog style formatter" traceOutputOptions="None" filter="Off"/>
      <add name="Exception Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           fileName="\\hoh2307\sii$\Update\UpdateNet\Logs\PEP\Exceptions.log" footer="----------------------------------------" formatter="EventLog style formatter" header="----------------------------------------" rollFileExistsBehavior="Overwrite" rollInterval="Day" rollSizeKB="0" timeStampPattern="dd-MM-yyyy" traceOutputOptions="None" filter="All"/>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="App_Data\PortalMedico.log" footer="" formatter="Single Line Formatter" header="" rollFileExistsBehavior="Overwrite" rollInterval="Day" rollSizeKB="0" timeStampPattern="dd-MM-yyyy" traceOutputOptions="None" filter="All"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
           name="EventLog style formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="{timestamp}{tab}{category}{tab}{message}{newline}" name="Single Line Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Exception">
        <listeners>
          <add name="Email TraceListener"/>
          <add name="Exception Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Curriculo">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Email TraceListener"/>
          <add name="Exception Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Log and Rethrow">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Exception" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Log Only">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Exception" eventId="100" severity="Error" title="Log Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <connectionStrings>
    <add name="ConnectionStringLogin" connectionString="Data Source=@banco;User ID=@UserID;Password=@Password" providerName="System.Data.OracleClient"/>
    <!--<add name="HOMOLOG" connectionString="Data Source=homolog_02;User ID=internet;Password=internet" providerName="System.Data.OracleClient"/>-->
    <add name="HOMOLOG_01" connectionString="Data Source=homolog_01;User ID=DBAHMV;Password=DBAHMV" providerName="System.Data.OracleClient"/>
    <add name="HOMOLOG_03" connectionString="Data Source=homolog_03;User ID=DBAHMV;Password=DBAHMV" providerName="System.Data.OracleClient"/>
    <add name="BANCO" connectionString="Data Source=@BANCO;User ID=DBAHMV;Password=DBAHMV" providerName="System.Data.OracleClient"/>
    <add name="PRODUCAOMV" connectionString="Data Source=orarac1;User ID=DBAHMV;Password=DBAHMV" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="User" value="HMV"/>
    <add key="Password" value="hmv2010!"/>
    <add key="PathIconeMenu" value="\\hoh2307\sii$\IconesMenu\PEP\"/>
    <add key="PathDicionarios" value="\\hoh2307\sii$\PEP_Dicionarios\"/>
    <add key="ClinicaDefault" value="11"/>
    <add key="emailErro" value="rodrigo.zimmer@hmv.org.br;robson.jardim@hmv.org.br;anderson.amaral@hmv.org.br"/>
    <add key="PathImgErro" value="\\hoh2307\sii$\Update\UpdateNet\Logs\PEP\"/>
    <!--<add key="emailErro" value="EquipeDesenvolvimento_TI@hmv.org.br"/>-->
    <add key="emailErroTratado" value="rodrigo.zimmer@hmv.org.br;robson.jardim@hmv.org.br;anderson.amaral@hmv.org.br"/>
    <add key="SubClinicaDefault" value="14"/>
    <add key="Sistema" value="645"/>
    <add key="SistemaAntigo" value="61"/>
    <add key="OrigemAtendimentoCO" value="4"/>
    <!--<add key="ConfigNHibernate" value="\\Hoh2307\sii$\Update\UpdateNet\ConfigNHibernate\PEP"/>-->
    <add key="ConfigNHibernate" value="c:\temp\PEP"/>
    <add key="PathLogInicializacao" value="\\hoh2307\sii$\Update\UpdateNet\Logs\PEP\LogInicializacao\"/>
    <add key="AtivaLogInicializacao" value="false"/>
    <add key="urlBase_HOMOLOG_01" value="http://hoh2803.hmv.org.br:@PORTA/HOMOLOG_01/"/>
    <add key="urlBase_HOMOLOG_02" value="http://hoh2803.hmv.org.br:@PORTA/HOMOLOG_02/"/>
    <add key="urlBase_HOMOLOG_03" value="http://hoh2803.hmv.org.br:@PORTA/HOMOLOG_03/"/>
    <add key="urlBase_HOMOLOG_05" value="http://hoh2803.hmv.org.br:@PORTA/HOMOLOG_05/"/>
    <add key="urlBase_PRODUCAOMV" value="http://sii_web.hmv.org.br:@PORTA/"/>    
    <add key="PortaAplicacao" value="8097"/>
    <add key="PortaCore" value="8098"/>
    <add key="IntervaloRefreshGridEmergencia" value="20"/>
    <add key="DataAccessService" value="N"/>
    <!--<add key="ServerSignalR" value="http://hoh2803:8166/"/>-->
    <add key="ServerSignalR" value="http://sii_web.hmv.org.br:8166/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPassagemPlantaoEmergencia" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_ISendEmailService">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
            requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
            keyEntropyMode="CombinedEntropy" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSecurityContextCancellation="true">
            <secureConversationBootstrap defaultAlgorithmSuite="Default"
              authenticationMode="UserNameOverTransport" requireDerivedKeys="true"
              securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy"
              messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
              <localClientSettings cacheCookies="true" detectReplays="false"
                replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
                replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
                sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
                timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
              <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
                maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                reconnectTransportOnFailure="true" maxPendingSessions="128"
                maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            </secureConversationBootstrap>
            <localClientSettings cacheCookies="true" detectReplays="false"
              replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
              replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
              sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
              timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
              maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
              negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
              sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
              reconnectTransportOnFailure="true" maxPendingSessions="128"
              maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap11WSAddressingAugust2004" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>   
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://hoh2803.hmv.org.br:8083/Services/EmailService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_ISendEmailService"
        contract="SendEmailService.ISendEmailService" name="CustomBinding_ISendEmailService">
        <identity>
          <dns value="https://hoh2803.hmv.org.br:8083" />
        </identity>
      </endpoint>
      <endpoint address="http://hoh2803.hmv.org.br:8097/SessionManager/SessionManagerWCF.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_ISendEmailService"
        contract="wsSessionManager.ISessionManagerWCF" name="CustomBinding_ISendEmailService">
        <identity>
          <dns value="https://hoh2803.hmv.org.br:8097" />
        </identity>
      </endpoint>
      <!--<endpoint address="http://hoh2803:8166/PassagemPlantaoEmergencia.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPassagemPlantaoEmergencia"
                contract="ServicePassagemPlantao.IPassagemPlantaoEmergencia"/>-->
                <endpoint address="http://sii_web.hmv.org.br:8166/PassagemPlantaoEmergencia.svc"
                         binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPassagemPlantaoEmergencia"
                         contract="ServicePassagemPlantao.IPassagemPlantaoEmergencia"/>
    </client>   
  </system.serviceModel>

  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.4000" newVersion="2.1.2.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
   
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-4.0.7.0" newVersion="4.0.8.0" />
        </dependentAssembly>
      </assemblyBinding>
    
  </runtime>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  
</configuration>
